<section class="section-pricing-plan" id="pricing-plan">
  <div class="container container-pricing-plan">
    <p class="pricing-plan-preheader">Affordable</p>
    <h2 class="pricing-plan-header">Pricing Plans</h2>
    <p class="pricing-plan-text">
      Choose the perfect plan for your yoga journey.
    </p>

    <ul class="pricing-plan-list">
      <li class="pricing-plan-list-item">
        <div class="pricing-plan-list-context">
          <div class="pricing-plan-list-head">
            <h3 class="pricing-plan-list-header">One Session</h3>
            <p class="pricing-plan-cost">$10</p>
          </div>
          <ul class="pricing-plan-package-list">
            <li class="pricing-plan-information-line">
              <svg width="24" height="25" aria-hidden="true">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">1 group session</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg width="24" height="25" aria-hidden="true">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                10% discount for next 2 Sessions
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg width="24" height="25" aria-hidden="true">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Community support group
              </p>
            </li>
          </ul>
        </div>
        <button
          type="button"
          class="pricing-plan-btn button-general"
          data-modal-open
          data-plan="One Session"
          data-price="$10"
        >
          Join
        </button>
      </li>

      <li class="pricing-plan-list-item">
        <div class="pricing-plan-list-context">
          <div class="pricing-plan-list-head">
            <h3 class="pricing-plan-list-header">8 Sessions Package</h3>
            <p class="pricing-plan-cost">$65</p>
          </div>
          <ul class="pricing-plan-package-list">
            <li class="pricing-plan-information-line">
              <svg width="24" height="25" aria-hidden="true">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">6 Group Sessions</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg width="24" height="25" aria-hidden="true">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">2 Individual Sessions</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg width="24" height="25" aria-hidden="true">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Priority customer support
              </p>
            </li>
          </ul>
        </div>
        <button
          type="button"
          class="pricing-plan-btn button-general"
          data-modal-open
          data-plan="8 Sessions Package"
          data-price="$65"
        >
          Join
        </button>
      </li>

      <li class="pricing-plan-list-item pricing-plan-list-item--featured">
        <div class="pricing-plan-list-context">
          <div class="pricing-plan-list-head">
            <h3 class="pricing-plan-list-header">12 Sessions Package</h3>
            <p class="pricing-plan-cost">$80</p>
            <button
              type="button"
              class="pricing-plan-btn pricing-plan-btn--inline button-general"
              data-modal-open
              data-plan="12 Sessions Package"
              data-price="$80"
            >
              Join
            </button>
          </div>
          <ul class="pricing-plan-package-list">
            <li class="pricing-plan-information-line">
              <svg width="24" height="25" aria-hidden="true">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">8 Group Sessions</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg width="24" height="25" aria-hidden="true">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">4 Individual Sessions</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg width="24" height="25" aria-hidden="true">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Access to advanced classes
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg width="24" height="25" aria-hidden="true">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Monthly yoga challenges
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg width="24" height="25" aria-hidden="true">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Exclusive member discounts
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg width="24" height="25" aria-hidden="true">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Community support group
              </p>
            </li>
          </ul>
        </div>
        <button
          type="button"
          class="pricing-plan-btn pricing-plan-btn--default button-general"
          data-modal-open
          data-plan="12 Sessions Package"
          data-price="$80"
        >
          Join
        </button>
      </li>
    </ul>
  </div>
</section>

<div
  class="modal-overlay"
  data-modal
  hidden
  aria-hidden="true"
>
  <div
    class="modal"
    role="dialog"
    aria-modal="true"
    aria-labelledby="modal-title"
  >
    <button
      type="button"
      class="modal-close-btn"
      data-modal-close
      aria-label="Close modal"
    >
      <svg width="32" height="32" class="modal-close-icon" aria-hidden="true">
        <use href="./img/sprite.svg#icon-pop-up-close"></use>
      </svg>
    </button>
    <h2 class="modal-text" id="modal-title">Join Now!</h2>
    <h3 class="modal-text-h" data-modal-plan></h3>
    <p class="modal-p" data-modal-price></p>
    <form class="modal-form" data-modal-form>
      <div class="modal-box-div">
        <label class="modal-label" for="user-name">Your Name</label>
        <input
          required
          class="modal-input-name"
          type="text"
          name="user-name"
          id="user-name"
          placeholder="Dexter"
          autocomplete="name"
        />
      </div>

      <div class="desktop-wrapper">
        <div class="email-wrapper">
          <label class="modal-label" for="user-email">Email</label>
          <div class="modal-box-div">
            <input
              required
              class="modal-input"
              type="email"
              name="user-email"
              id="user-email"
              placeholder="dexter.1997@gmail.com"
              autocomplete="email"
            />
          </div>
        </div>
        <div class="email-wrapper">
          <label class="modal-label" for="user-phone">Phone number</label>
          <div class="modal-box-div">
            <input
              required
              class="modal-input"
              type="tel"
              name="user-phone"
              id="user-phone"
              placeholder="+45 91 71 81 97"
              autocomplete="tel"
            />
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="modal-btn button-general" type="submit">
          Go to checkout
        </button>
      </div>
    </form>
  </div>
</div>
