.section-about-us {
  background: var(--color-scheme-1-background);
  padding-top: 64px;
  padding-bottom: 64px;
}

.cont-title {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-title,
.about-us-descr,
.about-us-list {
  width: 100%;
}

.about-us-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;

  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-neutral-darkest);

  margin-bottom: 20px;
}

.about-us-descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  line-height: 160%;
  text-align: center;
  color: var(--color-neutral-darkest);

  margin-bottom: 48px;
}

/* list */
.about-us-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 48px;
}

.about-us-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.about-us-item-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-neutral-darkest);
}

.about-us-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: var(--color-neutral-darkest);
}

.section-about-us .btn--section {
  margin-top: 48px;
}

@media (max-width: 374px) {
  .about-us-title {
    font-size: 28px;
  }

  .about-us-descr {
    font-size: 14px;
  }

  .about-us-list {
    gap: 32px;
  }
}

/* Tablet version */
@media only screen and (min-width: 768px) {
  .section-about-us {
    padding: 40px 16px;
    background: var(--color-drover-lightest);
  }

  .about-us-title {
    margin-top: 40px;
    margin-bottom: 24px;
  }

  .about-us-descr {
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 40px;
  }

  .about-us-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .about-us-item {
    width: calc((100% - 24px) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
  }

  .section-about-us .btn--section {
    margin-top: 40px;
  }
}
/* Dekstop version */
@media only screen and (min-width: 1336px) {
  .section-about-us {
    padding: 112px 64px;
    background: var(--color-drover-lightest);
  }

  .about-us-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 52px;

    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-neutral-darkest);

    margin-top: 0;
  }

  .about-us-descr {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: var(--color-neutral-darkest);
    margin-bottom: 40px;
  }

  .about-us-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

    max-width: 1208px;
    margin: 0 auto;
  }

  .about-us-item {
    width: calc((100% - 72px) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-us-item-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-neutral-darkest);
    margin-bottom: 24px;
  }

  .about-us-item-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: var(--color-neutral-darkest);
  }

  .section-about-us .btn--section {
    margin-top: 40px;
  }
}
